.indexes_container {
  display: grid;
  grid-template-columns: 350px 1fr 250px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "sidebar head rightbar"
    "sidebar main rightbar";
  height: calc(100vh - 60px);
  width: calc(100vw - 64px);
  box-sizing: border-box;
}

.indexes_sidebar {
  transition: width 0.5s ease;
  border-right: 2px solid #54b4d8;
  border-bottom: 2px solid #54b4d8;
  height: 100%;
  overflow-x: visible;
  position: relative;
  grid-area: sidebar;
  padding: 16px;
  overflow-y: auto;
  box-sizing: border-box;
}
.indexes_header {
  grid-area: head;
}

.indexes_header_container {
  display: flex;
  margin: 12px 16px;
}

.indexes_header_documents {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.indexes_header_zoom_container {
  flex: 1;
}
.indexes_content {
  grid-area: main;
  overflow: auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

.indexes_content_main {
  position: relative;
  box-sizing: border-box;
}

.indexes_rightbar {
  text-align: center;
  grid-area: rightbar;
  height: 100%;
  overflow-y: auto;
}

.indexes_sidebar-text {
  font-size: 13px;
  padding: 16px 0;
}

.folder-icon {
  color: #2e78a6;
}
.folder-icon-text {
  font-size: 14px;
  font-weight: bold;
}

.zoom-icon {
  font-size: 32px;
  color: #2e78a6;
  cursor: pointer;
}

.zoom-icon-seprator {
  font-size: 40px;
  line-height: 40px;
  color: lightgray;
}
