.sharing_container {
  display: grid;
  grid-template-columns: 350px 1fr 250px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "sidebar head rightbar"
    "sidebar main rightbar";
  height: calc(100vh - 60px);
  width: calc(100vw - 64px);
  box-sizing: border-box;
}

.sharings_sidebar {
  transition: width 0.5s ease;
  border-right: 2px solid #54b4d8;
  border-bottom: 2px solid #54b4d8;
  height: 100%;
  overflow-x: visible;
  position: relative;
  grid-area: sidebar;
  padding: 16px;
}
.sharings_header {
  grid-area: head;
}
.sharing_content {
  grid-area: main;
  overflow: auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

.sharing_rightbar {
  text-align: center;
  grid-area: rightbar;
  height: 100%;
  overflow-y: auto;
}

.sharing_sidebar-text {
  font-size: 13px;
  padding: 16px 0;
}
.sharing_sidebar-button {
  background-color: #007fb9;
  color: white;
  border: 2px solid white;
  padding: 1px 16px;
}
.sharing_sidebar-search {
  display: flex;
  border: 1px solid gray;
  align-items: center;
  box-sizing: border-box;
}
.sharing_sidebar-search-input {
  padding: 0 8px;
  border: none;
  width: 90%;
}
.sharing_sidebar-search-input:focus {
  outline: none;
}

.search-icon {
  color: #007fb9 !important;
}
.border_box {
  box-sizing: border-box;
}
.sharing_sidebar-select-button {
  background-color: #007fb9;
  color: white;
  border: 3px solid #178dcb;
  padding: 0px 20px;
}
.selected {
  background-color: white;
  color: #007fb9;
}
.sharing_sidebar-name-container {
  border: 2px solid #bfdeea;
  flex: 1;
  font-size: 14px;
}
input[type="checkbox"] {
  zoom: 1.5;
}
.content-container {
  height: 70%;
  overflow-y: auto;
}

.sharings_header_container {
  display: flex;
  margin: 12px 16px;
}

.sharings_header_documents {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.sharings_header_zoom_container {
  flex: 1;
}

.sharings_content_main {
  position: relative;
  box-sizing: border-box;
}

.sharing_rightbar {
  text-align: center;
  grid-area: rightbar;
  height: 100%;
  overflow-y: auto;
}

.folder-icon {
  color: #2e78a6;
}
.folder-icon-text {
  font-size: 14px;
  font-weight: bold;
}

.zoom-icon {
  font-size: 32px;
  color: #2e78a6;
  cursor: pointer;
}

.zoom-icon-seprator {
  font-size: 40px;
  line-height: 40px;
  color: lightgray;
}
.page_title{
  padding-left: 10px;
}